.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    flex: 1;
    border: 1px solid #e4dede;
}

.container > button {
    background-color: none;
    outline: none;
    border: none;
    text-align: center;
}

.container > button:hover{
    cursor: pointer;
}