.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.container > p {
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
}